/* style.css */

/* Title text style */
.title-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* Volume label text style */
.volume-label {
    -fx-font-size: 18px;
}

/* Button style */
.button {
    -fx-font-size: 18px;
}

/* Slider style */
.volume-slider {
    -fx-pref-width: 300;
}

/* Score text style */
.score-text {
    -fx-font-size: 18px;
}

/* Timer text style */
.timer-text {
    -fx-fill: white; /* Text color */
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
}

/* Win Image styling */
.win-image {
    /* Add any custom styles for the win image if needed */
}

/* Game Over Image styling */
.game-over-image {
    /* Add any custom styles for the game over image if needed */
}

/* Heart display container styling */
.heart-display {
    /* Add styles for the heart display container if needed */
}

/* Shield image styling */
.shield-image {
    -fx-opacity: 1.0; /* Fully visible */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.7, 2, 2); /* Add a drop shadow */
    -fx-scale-x: 1.0; /* Default horizontal scale */
    -fx-scale-y: 1.0; /* Default vertical scale */
    -fx-translate-x: 1150px; /* Position on the x-axis */
    -fx-translate-y: 500px; /* Position on the y-axis */
}

/* Hidden shield image */
.shield-hidden {
    -fx-opacity: 0.0; /* Fully invisible */
}


